<%# Gabriel Bolduc %>

<% content_for :title, @page_title %>

<div style="margin-bottom: 20px;">
  <h1><%= @page_title %></h1>
</div>

<% if @businesses.empty? %>

  <p>Vous ne possédez actuellement aucun restaurant dans le système.</p>

<% else %>

  <% @businesses.each do |business| %>
    <article style="margin-bottom: 25px; border: 1px solid #eee; padding: 15px;">
      
      <h2 style="margin-top: 0;">
        <%= link_to business.name, my_menu_path(business) %>
      </h2>
      
     
      <% if business.menus.where(parent_id: nil).any? %>
        <strong>Menus principaux :</strong>
        
        <ul>
          <% business.menus.where(parent_id: nil).each do |menu| %>
            <li><%= menu.title %></li>
          <% end %>
        </ul>
      <% else %>
        <p>Ce restaurant n a pas encore de menu.</p>
      <% end %>

    </article>
  <% end %>
<% end %>